{% extends "templates/base.html" %}

{% block content %}

  <div class="card shadow border-2 border-dark-subtle mt-5">
    <div class="card-header">
      <div class="d-flex justify-content-center align-items-center text-center">
        <h3 class="my-2">FUNCIONÁRIOS E SUAS TAREFAS</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="mx-4">
        <table id="tabelaFuncionariosTarefas" class="ui celled table hover" style="width:100%">
          <thead>
            <tr>
              <th>Ações</th>
              <th>Nome Funcionário</th>
              <th>Título Tarefa</th>
              <th>Observação</th>
              <th>Data de Atribuição</th>
              <th>Horas Trabalhadas</th>
            </tr>
          </thead>
          <tbody>
            {% for reg in data %}
            <tr>
              <td>                      
                <a href="/FuncionariosTarefas/ViewFuncionariosTarefas/{{ reg.id_funcionariotarefa }}" title="Visualizar">
                  <i class="fas fa-search"></i>
                </a>
                <a href="/FuncionariosTarefas/UpdateFuncionariosTarefas/{{ reg.id_funcionariotarefa }}" title="Atualizar" style="margin-left: 10px;">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </td>
              <td>{{reg.nome_funcionario}}</td>
              <td>{{reg.titulo_tarefa}}</td>
              <td>{{reg.observacao_funcionariotarefa}}</td>
              <td>{{reg.dataatribuicao_funcionariotarefa}}</td>
              <td>{{reg.horastrabalhadas_funcionariotarefa}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>         
      <div class="btn-group mx-4 mb-2">
        <a href="/FuncionariosTarefas/InsertFuncionariosTarefas" class="btn" style="background-color: var(--blue-color); color: white !important;">
            Nova Atribuição
        </a>
      </div>
    </div>
  </div>
  <script>
    window.onload = function () {
      windowOnLoad();
      const localErro = "{{ erro }}";
      if (localErro != "") {
        alert("[vwFuncionariosTarefas|onload] Servidor retornou o erro:" + localErro);
      }
      new DataTable('#tabelaFuncionariosTarefas', {
        layout: {
          topStart: 'info',
          bottom: 'paging',
          bottomStart: null,
          bottomEnd: null
        },
        language: {
          emptyTable: "Nenhum registro encontrado",
          info: 'Mostrando de _START_ até _END_ de _TOTAL_ registros',
          infoEmpty: 'Nenhum registro encontrado',
          infoFiltered: '(Filtrados de _MAX_ registros)',
          zeroRecords: 'Nenhum registro encontrado',
          search: 'Pesquisar:'
        },
        columnDefs: [
          { target: 4, render: DataTable.render.date('DD/MM/YYYY')},
          { width: '7%', target: 0},
          { width: '20%', targets: [1, 2, 3]},
          { width: '19%', target: 4},
          { width: '14%', target: 5},
          { targets: [0, 1, 2, 3, 4, 5], className: 'dt-body-left dt-head-left' }
        ]
      });
    };
  </script>

{% endblock %}