{% extends "templates/base.html" %}

{% block content %}

  <div class="home_indicator">
    <div class="home_icon_circle">
      <i class="bx bx-home"></i>
    </div>
    <span class="home_text">Home</span>
  </div>

<script>
  window.onload = function () {
    windowOnLoad();

  };

</script>

{% endblock %}